*,
*:after,
*:before{
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
  color: #2A2F36;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
a {
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
img {
  max-width: 100%;
}
a:active,
a:hover {
  color: #F05123;
}

::selection {
  background: #F05123;
  color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.menu-container {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-container button {
  display: none;
}

.menu-logo {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  min-width: 200px;
}

.menu-logo div {
  padding: 0 0.55rem;
}
.menu-logo img {
  width: 75px;
}

.menu-filters {
  width: 75%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media(max-width: 975px) {
  .menu-filters {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #00000029;
    height: 90px;
    width: 100%;
  }
}

.menu-filters li {
  position: relative;
  padding: 0 0.45rem;
  display: flex;
  width: 20%;
  height: 100%;
  margin: 0 0.25rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.25s color ease-in-out;
}

@media(max-width: 590px) {
  .menu-container, .menu-filters {
    height: 70px;
  }

  .menu-filters li {
    margin: 0;
  }
}

.line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
}

.menu-filters img {
  height: 25px;
  transition: 0.25s all ease-in-out;
}

.menu-filters p {
  height: 25px;
  padding-top: 0.45rem;
  text-align: center;
  font-size: 0.85rem;
}

@media(max-width: 975px) {
  .menu-filters p { 
    font-size: 0.5rem;
  }
}

@media(max-width: 975px) {
  .menu-filters img {
    height: 20px;
  }
}

.text-red {
  color: #F05123;
}

.mapContainer {
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 90px);
}

@media(max-width: 975px) {
  .mapContainer {
    top: 70px;
    height: calc(100vh - 100px);
  }
}

.mapboxgl-ctrl-bottom-left {
  margin: 2rem 0;
}

.mapboxgl-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 110px;
  border: 0;
  border-bottom: 4px solid #F05123;
  text-align: center;
  line-height: 1rem;
  padding: 1rem 0.55rem;
}

.mapboxgl-popup-content div {
  display: flex;
  padding: 0.45rem 0;
}

.mapboxgl-popup-content span {
  padding: 0 0.45rem;
  text-align: center;
}

.mapboxgl-popup-content h2 {
  font: 600 1rem 'Barlow', sans-serif;
  color: #343434;
}

.mapboxgl-popup-content p {
  font: 600 1.5rem 'Barlow', sans-serif;
}

#renda-color,
#densidade-color {
  margin-top: .45rem;
  margin-bottom: .15rem;
}

#renda-color {
  color: #F05123;
}

#densidade-color {
  color: #6929CA;
}

#covid-color {
  color: #41A95C;
}

#covid-color_confirm {
  color: #84D874;
}

#solidariedade-color {
  color: #F0184F;
}

#ong-delivered-color {
  color: #4DA9FF;
}

#ong-demand-color{
  color: #8FC9FF;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #F05123;
}

.mapboxgl-popup-content small {
  font-size: .7rem;
  color: #343434;
}

.mapboxgl-popup-content button {
  display: none;
}

/* LEGENDA */
.modal {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 280px;
  border-radius: 5px 5px 0px 0px;
  background: #F7F7F7;
  box-shadow: 0px 6px 6px #00000029;
  z-index: 3;
  cursor: pointer;
}

@media(max-width: 975px) {
  .modal {
    bottom: 70px;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 1rem;
  width: 100%;
  height: 40px;
  font: 200 .95rem 'Barlow', sans-serif;
  border-radius: 5px 5px 0px 0px;
  background: #F05123;
  color: #fff;
}

.modal-header span {
  width: 12px;
  height: 2px;
  background: #fff;
}

.modal-header p {
  margin: 0;
  font-size: 1.5rem;
}

.modal-content {
  padding: 1rem;
  min-height: 55vh;
  overflow-y: scroll;
}

@media(max-width: 975px) {
  .modal-content {
    height: 25vh;
    overflow-y: scroll;
  }
}

.modal-content::-webkit-scrollbar {
  width: 5px;
}
.modal-content::-webkit-scrollbar-thumb {
  background: #cecece85; 
  border-radius: 10px;
}

.content-title {
  margin-top: 0;
  font: 600 1rem 'Barlow', sans-serif;
  color: #000000;
}

.content-numbers {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.content-numbers img {
  margin-right: 1rem;
  transform: rotate(180deg);
}

.content-numbers ul {
  width: 100%;
  padding: 0;
}

.content-numbers li {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  height: 21px;
  font-size: .8rem;
}

.content-numbers li span {
  width: 15px;
  height: 15px;
  margin-right: 1rem;
}

.content-numbers ul li span{
  width: 18px;
  height: 18px;
}

.dens-0 {
  border: solid .5px #373383;
}

.dens-1 {
  background-image: url('./assets/min-dens.svg');
  background-size: 40%;
  background-position: center;
  background-repeat: repeat-x;
  border: solid .5px #373383;
}

.dens-2 {
  background-image: url('./assets/second-dens.svg');
  background-size: 40%;
  background-position: center;
  background-repeat: repeat-x;
  border: solid .5px #373383;
}

.dens-3 {
  background-image: url('./assets/max-dens.svg');
  background-size: 40%;
  background-repeat: repeat-x;
  border: solid .5px #373383;
  background-position: center;
}

.covid-1 {
  border-radius: 2px;
  background: #0ACF59;
}

.covid-2 {
  border-radius: 2px;
  background: #14793D;
}

.solid-1 {
  border-radius: 2px;
  text-align: center;
  font: 600 .9rem 'Barlow', sans-serif;
  color: #000;
}

.solid-2 {
  border-radius: 2px;
  background: #820525;
}

.solid-3 {
  border-radius: 2px;
  background: #F0184F;
}

.socio p, .box p {
  margin: .5rem 0;
  font-size: .8rem;
  line-height: 1.25rem;
}

.socio span {
  font-size: .7rem;
  color: #595959;
}
